//HEADER

.container_header{
    background-color: rgb(0,190,142);
    justify-content: space-between;

    .header_container_login{
        width: 12rem;
        display: flex;

        .login, .signup{
            height: 100%;
            width: 5rem;

            &:hover{
                border-radius: 0px;
                background: #00bf8f;
                box-shadow: inset 32px 32px 45px #008060, 
                            inset -32px -32px 45px #00febe;
            }

            p{
                text-align: center;
                font-size: 1.2rem;
  
            }
        }
    }
}

//FIN HEADER

//DEBUT FOOTER

.container_footer {
    background-color: rgb(0,48,36);
    display: flex;
    justify-content: space-around;

    :nth-child(1), :nth-child(2){
        margin-top: 2.5rem;
    }

    p{
        font-size: 1.5rem;
        color: white;
        font-family: 'Playfair Display SC', serif;
    }

}

//FIN FOOTER

//DEBUT PAGE ACCUEIL

.container_accueil{

    .container_accueil_titre {
        top: 30%;
        left: 0;
        right: 0;
        margin: 0 auto;
        // width: 40rem;
        // height: 11rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,84,63, 0.7);
    box-shadow: inset 1px 1px 20px 0px #00543f;

        p{
            color: white;
            font-weight: 700;
            font-size: 4rem;
            font-family: 'Playfair Display SC', serif;
            text-shadow: #00543f 5px 0 5px;
            
        }
    }
}

//FIN PAGE ACCUEIL

//DEBUT FORM LOGIN

.form_login{
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;

    .container_form{
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        width: 30%;
        padding: 5rem;
        height: 25rem;
        align-items: center;
        background-color: rgba(0,84,63, 0.7);
        box-shadow: inset 1px 1px 20px 0px #00543f;
        
        label{
            font-family: 'Playfair Display SC', serif;
            font-size: 2rem;
        }

        input{
            margin-top: 2rem;
            width: 15rem;
            height: 2rem;
            font-family: 'Playfair Display SC', serif;
            border: 2px black solid;
        }

        .email_input_form{
            margin-bottom: 3rem;
        }

        .password_button_form{
            margin-left: 1rem;
            height: 2.4rem;
            font-family: 'Playfair Display SC', serif;
        }

        .button_form_submit{
            margin-top: 6rem;
            height: 5rem;
            width: 8rem;
            font-family: 'Playfair Display SC', serif;

        }
    }
}

//FIN FORM LOGIN

//DEBUT FORM SIGNUP

.form_signup{
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;

    .container_form{
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        width: 50%;
        padding: 5rem;
        background-color: rgba(0,84,63, 0.7);
        box-shadow: inset 1px 1px 20px 0px #00543f;

        .container_label{
            display: flex;
            justify-content: space-around;
        }
        
        label{
            font-family: 'Playfair Display SC', serif;
            font-size: 1.4rem;
            padding-top: 1rem;
            flex-grow: 1;
            text-align: left;
        }

        input{
            margin-bottom: 2rem;
            margin-top: 1rem;
            width: 15rem;
            height: 2rem;
            font-family: 'Playfair Display SC', serif;
            border: 2px black solid;
        }

        .password_button_form{
            margin-left: 1rem;
            font-family: 'Playfair Display SC', serif;
        }

        .container_button_submit{
            display: flex;
            justify-content: center;

            .button_form_submit{
                margin-top: 2rem;
                height: 4rem;
                width: 7rem;
                font-family: 'Playfair Display SC', serif;
    
            }
        }
    }
}

//FIN FORM SIGNUP

//DEBUT CHAT

.container_chat{
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .chat{
        border-radius: 20px;
        border: none;
        background-color: rgba(0,84,63, 0.9);
        box-shadow: inset 1px 1px 20px 0px #00543f;
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        text-shadow: #00543f 5px 0 5px;
        margin-left: 30%;
        margin-right: 30%;
    }
    .container_message{
        margin-top: 10%;
        
        .container_form_chat {
        background-color: rgba(0,84,63, 0.7);
        box-shadow: inset 1px 1px 20px 0px #00543f;
        margin-left: 20%;
        margin-right: 20%;
        height: 20rem;
        border-radius: 30px;
        
            :nth-child(1){
                font-size: 1.4rem;
                
            }

            .title_message{
                margin-bottom: 1rem;

                label{
                    margin-right: 1rem;
                }
            }

            .message{
                display: flex;
                flex-direction: column;
                
                textarea{
                    margin: 1rem;
                    height: 13rem;
                }
            }

            button{
                margin-top: 3rem;
                width: 10rem;
                height: 4rem;
                border-radius: 30px;
                font-size: 1.5rem;
                background-color: #00543f;
                border: none;
                color: white;
                transition: all 200ms ease-in;
            }
    
            button:hover{
                background-color: #00febe;
                color: black;
            }
        }
    }
}

//FIN CHAT

//DEBUT PROFIL

.container_profil{
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    justify-content: center;
    border-radius: 5%;
    width: 40%;
    padding: 0;
    background-color: rgba(0,84,63, 0.7);
    box-shadow: inset 1px 1px 20px 0px #00543f;
    display: flex;
    flex-direction: column;

    .container_profil_img{
        border-radius: 50%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 15rem;
        height: 15rem;
        background-color: rgb(255, 255, 255);
    }

    .container_profil_p{
        width: auto;
        height: 5rem;
        background-color: #00543f;
        transition: all 200ms ease-in;
        transform: scale(1);

        p{
            font-size: 1.5rem;
            color: white;
        }
    }

    .container_profil_p:hover{
        transform: scale(1.2);
        background-color: #019973;
        z-index: 1;
        box-shadow: inset 1px 1px 20px 0px #00543f;
    }

    .container_profil_button{
        margin: 1rem;
        
        button{
            width: 10rem;
            height: 4rem;
            border-radius: 30px;
            font-size: 1.5rem;
            background-color: #00543f;
            border: none;
            color: white;
            transition: all 200ms ease-in;
        }

        button:hover{
            background-color: #00febe;
            color: black;
        }
    }
}

//FIN PROFIL

//DEBUT PAGE ERROR

.container_erreur{
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background-color: rgba(0,84,63, 0.7);
    box-shadow: inset 1px 1px 20px 0px #00543f;

    p{
        font-size: 4rem;
        font-weight: bold;
        color: white;
        text-shadow: #00543f 5px 0 5px;
    }
}

//FIN PAGE ERROR