@import "./utils.scss";

//DEBUT GENERALE

button, input{
    outline: none;
}

//DEBUT GENERALE

//HEADER

.container_header{
    // background-color: rgb(0,190,142);
    background-color: $lightGreen;
    justify-content: space-between;
    position: fixed;
    z-index: 2;

    .header_container_login{
        width: 12rem;
        display: flex;
        padding-right: 7rem; 

        .login, .signup, .logout, .profil, .forum{
            height: 100%;
            width: 5rem;
            margin-right: 1rem;
            padding-top: 0.4rem;

            button{
                font-size: 17px;
                height: 80%;
                width: 5rem;
                border-radius: 15px;
                @include neumorphismeButtonlight;

            }

            button:hover{
                border-radius: 15px;
                @include neumorphismeHoverButtonlight;
            }

            p{
                text-align: center;
                font-size: 1.2rem;
  
            }
        }
    }
}

//FIN HEADER

//DEBUT FOOTER

.container_footer {
    background-color: $darkGreen;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    position: fixed;

    :nth-child(1), :nth-child(2){
        margin-top: 1rem;
    }

    p{
        font-size: 1.5rem;
        color: white;
        font-family: 'Playfair Display SC', serif;
    }

}

//FIN FOOTER


//DEBUT PAGE ACCUEIL

.container_accueil{

    .container_accueil_titre {
        top: 30%;
        left: 0;
        right: 0;
        margin: 0 auto;
        // width: 40rem;
        // height: 11rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mediumGreenShadowLowIntensity;
        box-shadow: $shadowgreenMediumInset;

        p{
            color: white;
            font-weight: 700;
            font-size: 4rem;
            font-family: 'Playfair Display SC', serif;
            text-shadow: #00543f 5px 0 5px;
            
        }
    }
}

//FIN PAGE ACCUEIL

//DEBUT FORM LOGIN

.form_login{
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;

    .container_form{
        border-radius: 5%;
        width: 33rem;
        height: 30.3rem;
        text-align: left;
        align-items: left;
        border-radius: 15px;
        background: $lightMediumGreen;
        box-shadow: $naturalHightShadow;

        .container_form_style{

            padding: 1rem;
            margin: 1.5rem;
            margin-left: 3rem;
            margin-right: 3rem;
            display: flex;
            flex-direction: column;
            @include neumorphismeContainer;

            label{
                color: white;
                font-size: 2rem;
                border-radius: 15px;
                background: $lightMediumGreen;
                width: auto;
                padding-left: 0rem;
            }
    
            input{
                margin-top: 1rem;
                width: 15rem;
                height: 2rem;
                border: none;
                border-radius: 15px;
                background: white;
                box-shadow: $shadowgreenMediumOutside;

            }

            .email_label_form{
                margin-top: 2rem;
            }
    
            .email_input_form{
                margin-bottom: 3rem;
            }
    
            .password_button_form{
                padding: 1rem;
                font-size: 19px;
                margin-left: 3rem;
                border-radius: 15px;
                @include neumorphismeButtonMedium;

                &:hover{
                    border-radius: 15px;
                    @include neumorphismeHoverButtonMedium;
                }
            }
    
            .button_form_submit{
                font-size: 19px;
                margin: auto;
                margin-top: 3rem;
                height: 5rem;
                width: 8rem;
                border-radius: 15px;
                @include neumorphismeButtonMedium;

                &:hover{
                    border-radius: 15px;
                    @include neumorphismeHoverButtonMedium;
                }
            }
        }
        
    }
}

//FIN FORM LOGIN

//DEBUT FORM SIGNUP

.form_signup{
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;

    .container_form{
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background: $lightMediumGreen;
        box-shadow: $naturalHightShadow;
        padding: 1rem;

        .container_form_style{
            @include neumorphismeContainer;

            .container_label{
                display: flex;

                label{
                    color: white;
                    height: 2rem;
                    font-size: 1.4rem;
                    padding: 1.5rem;
                    text-align: left;       
                    width: 20rem;         
                }
    
                input{
                    margin: 1rem;
                    width: 15rem;
                    border-radius: 15px;
                    background: white;
                    box-shadow: $shadowgreenMediumOutside;
                    border: none;
                }
    
    
                input{
                    margin: 1rem;
                    width: 15rem;
                    border-radius: 15px;
                    background: white;
                    box-shadow: $shadowgreenMediumOutside;
                    border: none;
                    justify-content: right;
                    align-items: right;
                    vertical-align: center;

                }

                .label-file {
                    border-radius: 15px;
                    @include neumorphismeButtonMedium;
                    cursor: pointer;
                    color: white;
                    font-weight: bold;
                    width: auto;
                    margin-left: 2rem;
                    margin-top: 3rem;
                }
                .label-file:hover {
                    @include neumorphismeHoverButtonMedium;
                    color: white;
                }
                
                .input-file {
                    display: none;
                }
        
                .img_file{
                    max-width: 15rem;
                    margin-left: 7.3rem;
                    border-radius: 15px;
                    margin-top: 1.5rem;
                }

                .password_input_form{
                    height: 3rem;
                }
        
                .password_button_form{
                    color: white;
                    margin: 0.5rem;
                    font-size: 19px;
                    @include neumorphismeButtonMedium;
        
                    &:hover{
                        @include neumorphismeHoverButtonMedium;
                    }
                }
            }
    
            .button_form_submit{
                color: white;
                margin: auto;
                margin-top: 2rem;
                margin-bottom: 1rem;
                height: 4rem;
                font-size: 24px;
                padding: 1rem;
                @include neumorphismeButtonMedium;
                
                &:hover{
                    @include neumorphismeHoverButtonMedium;
                }
            }
        }
    }
}

//FIN FORM SIGNUP

//DEBUT CHAT

.container_chat{
    top: 6.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    scroll-behavior: smooth;
    // height: 60rem;


    //PARTIE BANNIERE DE RECHERCHE
    .banner_chat{
        box-shadow: $naturalShadow2;
        width: auto;
        display: flex;
        background-color: $lightMediumGreen;
        height: 5rem;
        justify-content: space-around;
        z-index: 1;

        .banner_btn_post{
            margin: auto;

            .button_chat{
                height: 3rem;
                border: none;
                @include neumorphismeButtonMedium;
                font-size: 1.3rem;
                font-weight: bold;
                color: white;
                
            }
        
            .button_chat:hover{
                @include neumorphismeHoverButtonMedium;
            }
        }

        .banner_search{
            margin: auto;

            button{
                height: 3rem;
                border: none;
                @include neumorphismeButtonMedium;
                font-size: 1.3rem;
                font-weight: bold;
                color: white;
                margin-left: 2rem;

            }
            button:hover{
                @include neumorphismeHoverButtonMedium;
            }

            input{
                height: 2.5rem;
                border-radius: 15px;
                border: none;
                font-size: 16px;
            }
        }
    }

    .render_search_msg{
        background-color: white;
    }

    //PARTIE CREATION DU MESSAGE
    .container_post_message{
        margin-top: 2.5rem;

        .container_form_chat {
            color: white;
            background-color:$lightMediumGreen;
            box-shadow: $shadowgreenMediumInset;
            border-radius: 30px;
            width: 40rem;
            margin: auto;

            :nth-child(1){
                font-size: 1.4rem;
                
            }

            .title_message{
                margin-bottom: 1rem;
                padding-top: 1rem;

                label{
                    margin-right: 1rem;
                }

                input{
                    height: 2rem;
                    border-radius: 15px;
                    border: none;
                    box-shadow: $shadowgreenMediumOutside;
                }
            }

            .message{
                display: flex;
                flex-direction: column;
                
                textarea{
                    margin: 1rem;
                    min-height: 10rem;
                    border-radius: 15px;
                    border: none;
                    outline: none;
                    left: 5rem;
                    box-shadow: $shadowgreenMediumOutside;
                }
            }

            .message_style{
                display: flex;

                .label-file {
                    font-size: 20px;
                    border-radius: 15px;
                    @include neumorphismeButtonMedium;
                    cursor: pointer;
                    color: white;
                    font-weight: bold;
                    width: 15rem;
                    margin-top: 1rem;
                    padding: 1rem;
                    max-height: 2rem;
                    margin-left: 3rem;
                }
                .label-file:hover {
                    @include neumorphismeHoverButtonMedium;
                    color: white;
                }
                
                .input-file {
                    display: none;
                }
        
                .img_file{
                    max-width: 15rem;
                    max-height: 10rem;
                    border-radius: 15px;
                    margin-top: 1rem;
                    display: flex;
                    margin-left: 4rem;
                }
            }


            button{
                margin-top: 3rem;
                margin-bottom: 2rem;
                width: 10rem;
                height: 4rem;
                border-radius: 30px;
                font-size: 1.5rem;
                border: none;
                color: white;
                @include neumorphismeButtonMedium;
            }
    
            button:hover{
                background-color: #00febe;
                @include neumorphismeHoverButtonMedium;
            }

        }
    }

    //PARTIE LISTE DES MESSAGES

    .container_message{
        box-shadow: none;
        overflow-y: scroll;
        height: 60rem;

        .message_post{
            background-color: white;
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: 20%;
            margin-right: 20%; 
            border-radius: 15px;
            height: auto;
            box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);

            .message_post_user{
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                display: flex;
                background-color: rgb(0,190,142);
                height: 4rem;

                .img_profil{
                    padding: 0.5rem;
                    max-width: 3rem;
                    max-height: 3rem;
                    border-radius: 50%; ;
                }
                .message_post_name{
                    margin-top: 1.2rem;
                    margin-left: 0.5rem;
                    font-weight: 700;
                }
                .message_post_date{
                    margin-top: 1.2rem;
                    margin-left: auto;
                    margin-right: 1rem;
                }

            }

            .message_post_content{
                display: flex;
                flex-direction: column;

                .btn_post_content{
                    display: flex;

                    h2{
                        flex-grow: 1;
                        text-align: left;
                        margin-left: 1rem;
                    }

                    button{
                        font-size: 16px;
                        border-radius: 15px;
                        margin-top: 1rem;
                        margin-right: 1rem;
                        height: 2rem;
                        background-color:$mediumGreenShadowLowIntensity;
                        border: none;
                        transition: 0.3s;
                        color: white;
                        padding-left: 1rem;
                        padding-right: 1rem;

                        &:hover{
                            background-color:#00febe;
                            color: black;
                        }
                    }
                }
                .element_post_content{

                    p{
                        margin-bottom: 1rem;
                        margin-left: 1.5rem;
                        // margin: 1rem;
                        text-align: left;
                    }

                    img{
                        max-width: 13rem;
                        margin: 1rem;
                    }
                }
            }

            .container_comment_post{
                text-align: right;

                button{
                    font-size: 14px;
                    margin-right: 2rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    background-color:$mediumGreenShadowLowIntensity;
                    color: white;
                    border-radius: 15px;
                    height: 2rem;
                    border: none;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    transition: 0.3s;
                }
                
                button:hover{
                    background-color: #00febe;
                    color: black;
                }

                .container_comments{
                    text-align: left;
                    

                    .container_user_comment{
                        display: flex;
                        flex-direction: column;
                        margin: 1rem;
                        border-radius: 5px;
                        background: linear-gradient(145deg, #e6e6e6, #ffffff);
                        box-shadow:  4px 4px 0px #cccccc, 
                        -3px -3px 0px #ffffff;

                        .user_comment{
                            padding: 0.5rem;
                            font-size: 16px;
                            font-weight: 700;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            margin-left: 0.5rem;
                        }

                        img{
                            max-width: 13rem;
                            margin-left: 1rem;

                        }

                        .comment{
                            padding: 0.5rem;
                            margin-left: 0.5rem;

                        }

                        .container_btn_style{
                            display: flex;
                            justify-content: right;

                            button{
                                margin-left: 1rem;
                            }
                        }

                        
                    }
                }

                .container_txt_area_comment{
                    display: flex;
                    flex-direction: column;
                    
                    textarea{
                        width: 80%;
                        margin: auto;
                        height: 6rem;
                        margin-bottom: 1rem;

                    }

                    .container_flex_comment_img{
                        display: flex;

                        .label-file {
                        width: 10rem;
                        text-align: center;
                        margin-left: 2rem;
                        margin-bottom: 1rem;
                        margin-top: 1rem;
                        background-color:$mediumGreenShadowLowIntensity;
                        color: white;
                        border-radius: 15px;
                        border: none;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        transition: 0.3s;
                        max-height: 1.5rem;
                            
                        }
                        .label-file:hover {
                            background-color:#00febe;
                            color: black;
                        }
                        
                        .input-file {
                            display: none;
                        }
                
                        .img_file{
                            max-width: 15rem;
                            max-height: 10rem;
                            border-radius: 15px;
                            margin-top: 1rem;
                            display: flex;
                            margin-left: 4rem;
                            margin-bottom: 1rem;
                        }
                    }

                }
            }

        }
    }
    
    ::-webkit-scrollbar {
        display: none;
    }
}
::-webkit-scrollbar {
    display: none;
}



//FIN CHAT

//DEBUT PROFIL

.container_profil{
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    border-radius: 15px;
    padding: 0;
    width: 50rem;
    display: flex;
    flex-direction: column;
    background-color: #008362;
    box-shadow: 0px 0px 10px 0px #000000;
    
    .container_profil_img{
        border-radius: 15px;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: auto;
        img{
            max-width: 25rem;
            border-radius: 15px;
            box-shadow: $shadowgreenMediumOutside;
        }
        
    }

    .container_profil_p{
        margin-top: 1.5rem;
        flex-grow: 1;
        margin: 1rem;
        @include neumorphismeContainer;


        .profil_p{
            text-align: left;
            margin-top: 1.5rem;
            margin-left: 2rem;
            width: auto;
    
            p{
                font-size: 1.5rem;
                color: rgb(255, 255, 255);
                margin-left: 1rem;
            }
        }
    }

}
.container_profil_button{
    left: 0;
    right: 0;
    bottom: 10%;
    display: flex;
    justify-content: center;
            
    button{
        margin: 2rem;
        width: 10rem;
        height: 4rem;
        border-radius: 30px;
        font-size: 1.5rem;
        @include neumorphismeButtonMedium
    }
    
    button:hover{
        @include neumorphismeHoverButtonMedium;
    }
}

//FIN PROFIL

//DEBUT PAGE ERROR

.container_erreur{
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background-color: rgba(0,84,63, 0.7);
    box-shadow: inset 1px 1px 20px 0px #00543f;

    p{
        font-size: 4rem;
        font-weight: bold;
        color: white;
        text-shadow: #00543f 5px 0 5px;
    }
}

//FIN PAGE ERROR

//DEBUT PAGE JURISDICTION

.container_jurisdiction{
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 60rem;
    scroll-behavior: smooth;

    .container_style_jurisdiction{
        overflow-y: scroll;
        margin-left: 15%;
        margin-right: 15%;
        color: white;
        background-color: $lightMediumGreen;
        box-shadow: 0px 1px 29px -3px rgba(0,0,0,0.72);
        a{
            color: white;
            // text-decoration: none;
            font-weight: 700;

        }
                a:hover{
                    color: $lightGreen;
                }

    }
}

//FIN PAGE JURISDICTION